/.metadata/
/Servers/
/RemoteSystemsTempFiles/
/**/.settings/
/**/.project
/**/.classpath
/**/target/
/**/.apt_generated/
/**/.factorypath
/**/application-local*.yml
/**/application-prod*.yml
/**/application-test.yml
/.recommenders/
/**/src/main/resources/files/cert/
/**/src/main/resources/files/enc/
/.vscode/
/.idea/
/**/.idea/
.DS_Store
/**/.DS_Store
/**/**.iml
/**/**/**.iml
/**/**/**/**.iml
**.iml
*.iml
